<md-card >
  <md-card-header>
    <md-toolbar class="flex-container" fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.xs="start">
      <h1>Doping in Professional Bicycle Racing</h1>
    </md-toolbar>
  </md-card-header>
  <md-card-content class="flex-container" fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.xs="start">
    <div id="svg"></div>
  </md-card-content>
    <p class="footer flex-container" fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.xs="start">35 fastest times up Alpe d'Huez (normalized to 13.8km distance)</p>
</md-card>
